profile "default" {
	github {
		// prs {
		//	format "[{prefix}#{number}]"
		// }
		// issues {
		//	format "[{prefix}#{number}]"
		// }
		prefix {
			// format "`{org}/{repo}`"
			org "ErichDonGubler" {
				repo "moz-webgpu-cts" {
					format "{repo}"
				}
			}
			org "gfx-rs" {
				format "{repo}"
				repo "wgpu" {
					format "{repo}"
				}
			}
		}
	}
}

profile "wgpu" {
	github {
		prefix {
			org "gfx-rs" {
				repo "wgpu" {
					format ""
				}
			}
		}
	}
}

profile "fx-webgpu"
