profile "default" {
	github {
		org "gfx-rs" {
			prefix {
				format "{repo}"
			}
		}
		org "rustlang" {
			repo "cargo" {
				prefix {
					format "{repo}"
				}
			}
			repo "rust" {
				prefix {
					format "{repo}"
				}
			}
			repo "rustdoc" {
				prefix {
					format "{repo}"
				}
			}
			repo "rustup" {
				prefix {
					format "{repo}"
				}
			}
		}
		org "ErichDonGubler" {
			repo "moz-webgpu-cts" {
				prefix {
					format "{repo}"
				}
			}
		}
		org "gpuweb" {
			repo "gpuweb" {
				prefix {
					format "{repo}"
				}
			}
		}

		org "rust-windowing" {
			repo "glutin" {
				prefix {
					format "{repo}"
				}
			}
		}

		org "BabylonJS" {
			repo "Babylon.js" {
				prefix {
					format "{repo}"
				}
			}
		}

		org "microsoft" {
			repo "windows-rs" {
				prefix {
					format "{repo}"
				}
			}
		}

		org "jj-vcs" {
			repo "jj" {
				prefix {
					format "{repo}"
				}
			}
		}
	}
	gitlab {
		org "ClearURLs" {
			repo "ClearUrls" {
				prefix {
					format "{repo}"
				}
			}
		}
	}
}

profile "wgpu" {
	extends "default"
	github {
		org "gfx-rs" {
			repo "wgpu" {
				prefix {
					format ""
				}
			}
		}
	}
}

profile "fx-webgpu" {
	extends "default"
	// mozilla-bugzilla {
	//	bug {
	//		format "[bug {num}]({url})"
	//	}
	// }
}

profile "gpuweb" {
	extends "default"
	github {
		org "gpuweb" {
			repo "gpuweb" {
				prefix {
					format ""
				}
			}
		}
	}
}
